.carouselContainer {
    position: relative;
  }
  
  /* Position for the custom navigation buttons */
  .swiperButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
  }
  
  .swiperButtonPrev {
    left: 10px;
  }
  
  .swiperButtonNext {
    right: 10px;
  }
  