/* Card.module.css */
.card {
    width: 150px;
    /* padding: 20px; */
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center all text inside the card */
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between; /* Ensures that text elements are spaced evenly */
  }
  
  .image {
    width: 100%;
    /* height: auto; */
    border-radius: 5px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 10px;
    color: #555;
    text-align: center; /* Centers the text within the paragraph */
    margin-top: 10px;
    margin-bottom: 0; /* Remove bottom margin for compact layout */
  }
  
  .h3class{
    margin: 0 !important;
  }